In [1]:
# 목적: 열 이름 재정의, 열순서 재정의
import requests
import json
from datetime import datetime, timedelta

import pandas as pd
import cx_Oracle
from flask import Flask, request
from flask_restful import Resource, Api
from flask import Response
import asyncio
import websockets
import aioconsole

In [28]:

def preprocessed_df_to_oracle(df):
    con = cx_Oracle.connect('project_thejoeun/1541@localhost:1521/xe')
    cur = con.cursor()
    # sql_insert = '''
    #         insert into weather(DATE_TIME, NX, NY, 시간1_강수량, 강수형태, 기온, 습도, 풍향,풍속,동서바람성분,남북바람성분)
    #         values(:DATE_TIME, :NX, :NY, :시간1_강수량, :강수형태, :기온, :습도, :풍향,:풍속,:동서바람성분,:남북바람성분)
    #         '''
    sql_insert = '''
            insert into restaurants(소재지면적, 소재지우편번호, 도로명전체주소,도로명우편번호, 사업장명, 위생업태명,경도,위도) 
            values(:소재지면적, :소재지우편번호, :도로명전체주소,:도로명우편번호, :사업장명, :위생업태명,:경도,:위도)
            '''
    for a in range(0,len(df)):
        소재지면적 = int(df.iloc[a]['소재지면적']) # 현재 데이터 프레임의 행인덱스가 date_time이므로 loc가 안된다.
        소재지우편번호 = df.iloc[a]['소재지우편번호']
        도로명전체주소 = df.iloc[a]['도로명전체주소']
        도로명우편번호=int(df.iloc[a]['도로명우편번호'])
        사업장명 = df.iloc[a]['사업장명']
        위생업태명 = df.iloc[a]['위생업태명']
        경도 = int(df.iloc[a]['경도'])
        위도 = int(df.iloc[a]['위도'])

        cur.execute(sql_insert,
                    (   소재지면적, 소재지우편번호, 도로명전체주소, 도로명우편번호, 사업장명,
                        위생업태명, 경도, 위도 )
                    )



        con.commit()
    cur.close()
    con.close()

In [19]:

df_main=pd.read_csv('main_cafe.csv', encoding='utf8')
df_main.shape

(608506, 8)

In [3]:
df_main

,소재지면적,소재지우편번호,도로명전체주소,도로명우편번호,사업장명,위생업태명,경도,위도
0,27.50,461-811,"경기도 성남시 수정구 산성대로295번길 9, 1(일부)층 (신흥동)",13354.0,해피딜리버리(Happy delivery),한식,127.146131,37.442487
1,82.95,456-823,"경기도 안성시 공도읍 공도3로 9-9, 공도 일번가타워 1층 107호",17561.0,79대포 안성공도점,호프/통닭,127.166656,37.000065
2,19.34,456-831,"경기도 안성시 대덕면 중앙대학로 116-1, 2층",17547.0,맛있어2(Masisso2),한식,127.220998,37.001180
3,40.00,150-829,"서울특별시 영등포구 도신로33길 11, 1층 (도림동)",7368.0,푸드 딜리버리 영등포점,한식,126.904280,37.509676
4,65.00,626-812,"경상남도 양산시 물금읍 버들2길 7-13, 1층 일부",50657.0,수벙샌드위치,기타,128.985118,35.306876
...,...,...,...,...,...,...,...,...
608501,68.50,502-155,"광주광역시 서구 용두난산길 46, 1층 (용두동)",62078.0,원아가든,한식,126.815168,35.104255
608502,85.00,503-822,"광주광역시 남구 제중로 39, 2층 (양림동)",61643.0,뚱스넥,한식,126.911078,35.138094
608503,118.98,503-831,"광주광역시 남구 군분로 26-1, 1층 (월산동)",61615.0,갈비명가아라네,한식,126.892182,35.136216
608504,26.40,502-837,"광주광역시 서구 월드컵4강로116번길 5, 1층 (화정동)",61984.0,승진이네,한식,126.869767,35.147241
608505,82.60,502-834,"광주광역시 서구 내방로350번길 10, 1층 (화정동)",61977.0,명가,한식,126.875798,35.156462

In [34]:
preprocessed_df_to_oracle(df_main)

In [12]:
df_main.iloc[0]['소재지면적']

27.5

In [25]:
for a in df_main:
      print(a[0])

소
소
도
도
사
위
경
위

In [33]:
con = cx_Oracle.connect('project_thejoeun/1541@localhost:1521/xe')
cur = con.cursor()
con.commit()
cur.close()
con.close()