# 데이터 전처리

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import folium
from folium import Marker

In [2]:
festival = pd.read_csv('전국문화축제표준데이터.csv', encoding='cp949')
festival.shape

(1397, 18)

In [3]:
festival.head()

,축제명,개최장소,축제시작일자,축제종료일자,축제내용,주관기관,주최기관,후원기관,전화번호,홈페이지주소,관련정보,소재지도로명주소,소재지지번주소,위도,경도,데이터기준일자,제공기관코드,제공기관명
0,풍기인삼축제(2022 영주세계풍기인삼 엑스포),축제풍기인삼문화팝업공원 일원,2022-09-30,2022-10-23,"풍기기네스, 풍퀴즈 온더블록, 인삼향 풍기네, 슬기로운 풍기인삼 릴레이콘서트 등",(재)영주세계풍기인삼엑스포조직위원회,영주시,NaN,054-635-0020,http://www.ginsengfestival.co.kr/,NaN,경상북도 영주시 풍기읍 남원로 80,NaN,NaN,NaN,2022-09-28,B551011,한국관광공사
1,산청한방약초축제,산청IC축제광장+ 동의보감촌,2022-09-30,2022-10-11,"동의보감촌 허준순례길 구절초,한방촌거리 체험(대장간, 한의원, 약선음식 체험),동의...",산청한방약초축제위원회,산청군,산청군+산청군농협+한국수력원자력(주)산청양수발전소,055-970-6601,http://scherb.or.kr/,NaN,경상남도 산청군 금서면 동의보감로555번길 61,NaN,NaN,NaN,2022-09-28,B551011,한국관광공사
2,양양송이축제,강원도 양양군 전통시장 및 남대천 일원,2022-09-30,2022-10-02,"송이 보물찾기,송이돌이 만들기, 목공예체험, 버블쇼 공연, 송이볼링과 송이 과녁컬링",양양문화재단,양양군,NaN,033-671-3803,http://yymsfestival.com/index.php,NaN,NaN,강원도 양양군 양양읍 남문리 226-2,NaN,NaN,2022-09-28,B551011,한국관광공사
3,울산옹기축제,온라인 축제,2022-09-30,2022-10-03,"국내 유일의 옹기특화 축제, 온라인비대면축제",울산광역시 울주군청 관광과,울산광역시 울주군청 관광과,NaN,052-204-0355,https://www.onggi.or.kr/,NaN,울산광역시 울주군 온양읍 외고산2길 2-13,울산광역시 울주군 온양읍 고산리 512-4,35.432991,129.278447,2022-09-28,B551011,한국관광공사
4,금산인삼축제,금산인삼관 광장 및 인삼약초시장 일원,2022-09-30,2022-10-23,ㅇ인삼캐기 체험+인삼약초체험+생활건강 체험 등 건강 체험관 운영+국제인삼교역전+인삼...,금산축제관광재단,충청남도 금산군,NaN,041-750-4144,http://www.insamfestival.co.kr/,NaN,충청남도 금산군 금산읍 인삼광장로 30,충청남도 금산군 금산읍 신대리 392,36.100026,127.500730,2022-09-28,B551011,한국관광공사

In [4]:
festival.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1397 entries, 0 to 1396
Data columns (total 18 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   축제명       1397 non-null   object
 1   개최장소      1397 non-null   object
 2   축제시작일자    1397 non-null   object
 3   축제종료일자    1397 non-null   object
 4   축제내용      1397 non-null   object
 5   주관기관      1397 non-null   object
 6   주최기관      1397 non-null   object
 7   후원기관      689 non-null    object
 8   전화번호      1257 non-null   object
 9   홈페이지주소    918 non-null    object
 10  관련정보      465 non-null    object
 11  소재지도로명주소  1262 non-null   object
 12  소재지지번주소   1095 non-null   object
 13  위도        1181 non-null   float64
 14  경도        1181 non-null   float64
 15  데이터기준일자   1397 non-null   object
 16  제공기관코드    1397 non-null   object
 17  제공기관명     1397 non-null   object
dtypes: float64(2), object(16)
memory usage: 196.6+ KB

In [5]:
# 필요없는 행 삭제
drop = ['주관기관', '후원기관', '홈페이지주소', '관련정보', '데이터기준일자', '제공기관코드', '제공기관명']
festival.drop(drop, axis=1, inplace=True)
festival

,축제명,개최장소,축제시작일자,축제종료일자,축제내용,주최기관,전화번호,소재지도로명주소,소재지지번주소,위도,경도
0,풍기인삼축제(2022 영주세계풍기인삼 엑스포),축제풍기인삼문화팝업공원 일원,2022-09-30,2022-10-23,"풍기기네스, 풍퀴즈 온더블록, 인삼향 풍기네, 슬기로운 풍기인삼 릴레이콘서트 등",영주시,054-635-0020,경상북도 영주시 풍기읍 남원로 80,NaN,NaN,NaN
1,산청한방약초축제,산청IC축제광장+ 동의보감촌,2022-09-30,2022-10-11,"동의보감촌 허준순례길 구절초,한방촌거리 체험(대장간, 한의원, 약선음식 체험),동의...",산청군,055-970-6601,경상남도 산청군 금서면 동의보감로555번길 61,NaN,NaN,NaN
2,양양송이축제,강원도 양양군 전통시장 및 남대천 일원,2022-09-30,2022-10-02,"송이 보물찾기,송이돌이 만들기, 목공예체험, 버블쇼 공연, 송이볼링과 송이 과녁컬링",양양군,033-671-3803,NaN,강원도 양양군 양양읍 남문리 226-2,NaN,NaN
3,울산옹기축제,온라인 축제,2022-09-30,2022-10-03,"국내 유일의 옹기특화 축제, 온라인비대면축제",울산광역시 울주군청 관광과,052-204-0355,울산광역시 울주군 온양읍 외고산2길 2-13,울산광역시 울주군 온양읍 고산리 512-4,35.432991,129.278447
4,금산인삼축제,금산인삼관 광장 및 인삼약초시장 일원,2022-09-30,2022-10-23,ㅇ인삼캐기 체험+인삼약초체험+생활건강 체험 등 건강 체험관 운영+국제인삼교역전+인삼...,충청남도 금산군,041-750-4144,충청남도 금산군 금산읍 인삼광장로 30,충청남도 금산군 금산읍 신대리 392,36.100026,127.500730
...,...,...,...,...,...,...,...,...,...,...,...
1392,힐링 개그 콘서트,꽃바위문화관 3층 다목적공연장,2021-08-26,2021-08-26,개그x싱어롱,꽃바위문화관,052-209-4330,울산광역시 동구 문현3길 6,울산광역시 동구 방어동 1120-1,35.487058,129.411263
1393,오페라 팝페라 뽕페라,꽃바위문화관 3층 다목적공연장,2021-09-30,2021-09-30,콘서트,꽃바위문화관,052-209-4330,울산광역시 동구 문현3길 6,울산광역시 동구 방어동 1120-1,35.487058,129.411263
1394,박강수콘서트,꽃바위문화관 3층 다목적공연장,2021-10-21,2021-10-21,콘서트,꽃바위문화관,052-209-4330,울산광역시 동구 문현3길 6,울산광역시 동구 방어동 1120-1,35.487058,129.411263
1395,대왕암 해맞이 축제,대왕암,2023-01-01,2023-01-01,해맞이,동울산청년회의소,NaN,NaN,울산광역시 동구 일산동 산907,NaN,NaN
1396,퓨전 국악의 향연,꽃바위문화관 3층 다목적공연장,2023-05-19,2023-05-19,국악,울산광역시 동구,052-209-4330,울산광역시 동구 문현3길 6,울산광역시 동구 방어동 1120-1,35.487058,129.411263

In [6]:
# 축제일을 오브젝트에서 시간데이터로 바꾸고, 전체축제를 파일로 저장
festival['축제시작일자'] = pd.to_datetime(festival['축제시작일자'])
festival['축제종료일자'] = pd.to_datetime(festival['축제종료일자'])
festival.to_csv('축제.csv', mode='w', encoding='cp949')
festival.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1397 entries, 0 to 1396
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   축제명       1397 non-null   object
 1   개최장소      1397 non-null   object
 2   축제시작일자    1397 non-null   datetime64[ns]
 3   축제종료일자    1397 non-null   datetime64[ns]
 4   축제내용      1397 non-null   object
 5   주최기관      1397 non-null   object
 6   전화번호      1257 non-null   object
 7   소재지도로명주소  1262 non-null   object
 8   소재지지번주소   1095 non-null   object
 9   위도        1181 non-null   float64
 10  경도        1181 non-null   float64
dtypes: datetime64[ns](2), float64(2), object(7)
memory usage: 120.2+ KB

In [7]:
festival['축제시작일자'] >= pd.to_datetime('2023')

0       False
1       False
2       False
3       False
4       False
        ...
1392    False
1393    False
1394    False
1395     True
1396     True
Name: 축제시작일자, Length: 1397, dtype: bool

In [8]:
# 축제일이 2023년 이후인 축제만 모음
# festival2023 = festival[festival['축제시작일자'] >= pd.to_datetime('2023')]
# festival2023.to_csv('축제2023.csv', mode='w', encoding='cp949')
# festival2023.info()

In [9]:
festival.isnull().sum()

축제명           0
개최장소          0
축제시작일자        0
축제종료일자        0
축제내용          0
주최기관          0
전화번호        140
소재지도로명주소    135
소재지지번주소     302
위도          216
경도          216
dtype: int64

In [10]:
# 위도, 경도 결측값 있는 데이터 삭제
festival = festival[festival['위도'].notnull()]
festival.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1181 entries, 3 to 1396
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   축제명       1181 non-null   object
 1   개최장소      1181 non-null   object
 2   축제시작일자    1181 non-null   datetime64[ns]
 3   축제종료일자    1181 non-null   datetime64[ns]
 4   축제내용      1181 non-null   object
 5   주최기관      1181 non-null   object
 6   전화번호      1096 non-null   object
 7   소재지도로명주소  1078 non-null   object
 8   소재지지번주소   1027 non-null   object
 9   위도        1181 non-null   float64
 10  경도        1181 non-null   float64
dtypes: datetime64[ns](2), float64(2), object(7)
memory usage: 110.7+ KB

In [11]:
# 주소 2개를 하나로 통합
festival['소재지도로명주소'] = festival['소재지도로명주소'].fillna(festival['소재지지번주소'])

C:\Users\tj-bu\AppData\Local\Temp\ipykernel_5624\13213769.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  festival['소재지도로명주소'] = festival['소재지도로명주소'].fillna(festival['소재지지번주소'])

In [12]:
festival

,축제명,개최장소,축제시작일자,축제종료일자,축제내용,주최기관,전화번호,소재지도로명주소,소재지지번주소,위도,경도
3,울산옹기축제,온라인 축제,2022-09-30,2022-10-03,"국내 유일의 옹기특화 축제, 온라인비대면축제",울산광역시 울주군청 관광과,052-204-0355,울산광역시 울주군 온양읍 외고산2길 2-13,울산광역시 울주군 온양읍 고산리 512-4,35.432991,129.278447
4,금산인삼축제,금산인삼관 광장 및 인삼약초시장 일원,2022-09-30,2022-10-23,ㅇ인삼캐기 체험+인삼약초체험+생활건강 체험 등 건강 체험관 운영+국제인삼교역전+인삼...,충청남도 금산군,041-750-4144,충청남도 금산군 금산읍 인삼광장로 30,충청남도 금산군 금산읍 신대리 392,36.100026,127.500730
5,횡성한우축제,횡성종합운동장,2022-09-30,2022-10-04,한우구이터+횡성한우 발전포럼+횡성빛축제 등,강원도 횡성군청,033-340-5712,강원도 횡성군 횡성읍 문화체육로 57,강원도 횡성군 횡성읍 북천리 184,37.496087,127.989150
6,원주다이내믹댄싱카니발,댄싱공연장 및 원일로 일원,2022-10-01,2022-10-03,"댄싱경연, 문화예술공연, 각종 체험 등",강원도 원주시청+제36사단,033-737-5132,강원도 원주시 단구로 170,강원도 원주시 명륜동 345,37.336430,127.946261
7,소래포구축제,인천 남동구 소래포구 일원,2022-10-01,2022-10-03,관광축제,인천광역시 남동구,032-453-2142,인천광역시 남동구 아암대로 1454,인천광역시 남동구 논현동 775,37.387252,126.726980
...,...,...,...,...,...,...,...,...,...,...,...
1391,나 때는 말이야,꽃바위문화관 3층 다목적공연장,2021-07-22,2021-07-22,힙합,꽃바위문화관,052-209-4330,울산광역시 동구 문현3길 6,울산광역시 동구 방어동 1120-1,35.487058,129.411263
1392,힐링 개그 콘서트,꽃바위문화관 3층 다목적공연장,2021-08-26,2021-08-26,개그x싱어롱,꽃바위문화관,052-209-4330,울산광역시 동구 문현3길 6,울산광역시 동구 방어동 1120-1,35.487058,129.411263
1393,오페라 팝페라 뽕페라,꽃바위문화관 3층 다목적공연장,2021-09-30,2021-09-30,콘서트,꽃바위문화관,052-209-4330,울산광역시 동구 문현3길 6,울산광역시 동구 방어동 1120-1,35.487058,129.411263
1394,박강수콘서트,꽃바위문화관 3층 다목적공연장,2021-10-21,2021-10-21,콘서트,꽃바위문화관,052-209-4330,울산광역시 동구 문현3길 6,울산광역시 동구 방어동 1120-1,35.487058,129.411263
1396,퓨전 국악의 향연,꽃바위문화관 3층 다목적공연장,2023-05-19,2023-05-19,국악,울산광역시 동구,052-209-4330,울산광역시 동구 문현3길 6,울산광역시 동구 방어동 1120-1,35.487058,129.411263

In [13]:
festival.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1181 entries, 3 to 1396
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   축제명       1181 non-null   object
 1   개최장소      1181 non-null   object
 2   축제시작일자    1181 non-null   datetime64[ns]
 3   축제종료일자    1181 non-null   datetime64[ns]
 4   축제내용      1181 non-null   object
 5   주최기관      1181 non-null   object
 6   전화번호      1096 non-null   object
 7   소재지도로명주소  1181 non-null   object
 8   소재지지번주소   1027 non-null   object
 9   위도        1181 non-null   float64
 10  경도        1181 non-null   float64
dtypes: datetime64[ns](2), float64(2), object(7)
memory usage: 110.7+ KB

In [14]:
festival.drop('소재지지번주소', axis=1, inplace=True)
festival.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1181 entries, 3 to 1396
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   축제명       1181 non-null   object
 1   개최장소      1181 non-null   object
 2   축제시작일자    1181 non-null   datetime64[ns]
 3   축제종료일자    1181 non-null   datetime64[ns]
 4   축제내용      1181 non-null   object
 5   주최기관      1181 non-null   object
 6   전화번호      1096 non-null   object
 7   소재지도로명주소  1181 non-null   object
 8   위도        1181 non-null   float64
 9   경도        1181 non-null   float64
dtypes: datetime64[ns](2), float64(2), object(6)
memory usage: 101.5+ KB

C:\Users\tj-bu\AppData\Local\Temp\ipykernel_5624\2170217170.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  festival.drop('소재지지번주소', axis=1, inplace=True)

In [15]:
festival.rename(columns={'소재지도로명주소':'주소'}, inplace=True)
festival.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1181 entries, 3 to 1396
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   축제명     1181 non-null   object
 1   개최장소    1181 non-null   object
 2   축제시작일자  1181 non-null   datetime64[ns]
 3   축제종료일자  1181 non-null   datetime64[ns]
 4   축제내용    1181 non-null   object
 5   주최기관    1181 non-null   object
 6   전화번호    1096 non-null   object
 7   주소      1181 non-null   object
 8   위도      1181 non-null   float64
 9   경도      1181 non-null   float64
dtypes: datetime64[ns](2), float64(2), object(6)
memory usage: 101.5+ KB

C:\Users\tj-bu\AppData\Local\Temp\ipykernel_5624\3665476211.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  festival.rename(columns={'소재지도로명주소':'주소'}, inplace=True)

In [16]:
festival.to_csv('축제.csv', encoding='cp949')

# 데이터 오라클에 넣기

In [17]:
import cx_Oracle

In [75]:
con = cx_Oracle.connect('project_thejoeun/1541@192.168.30.240:1521/xe')
cur = con.cursor()
cur

In [76]:
num4= '115.2222'

In [30]:
sql_insert = '''
            insert into test2(num1, num2, num3)
            values(:num1, :num2,:num3)
            '''
num1 = 101
num2=101.2222222
num3= num4


cur.execute(sql_insert,
                (   num1, num2, num3)
                )

con.commit()
cur.close()
con.close()

In [81]:
sql_insert = '''
            insert into festival2(F_NAME, PLACE, OPEN_DATE, CLOSE_DATE, INFO, HOST_OR, PHONE_NUMBER, ADRESS, LATITUDE, HARDNESS)
            values(:F_NAME, :PLACE, :OPEN_DATE, :CLOSE_DATE, :INFO, :HOST_OR, :PHONE_NUMBER, :ADRESS,:LATITUDE,:HARDNESS)
            '''
for a in  range(1, len(festival)):
    if type(festival.iloc[a]['경도']) is not 'object':
        continue
    F_NAME = festival.iloc[a]['축제명']
    PLACE = festival.iloc[a]['개최장소']
    OPEN_DATE = festival.iloc[a]['축제시작일자']
    CLOSE_DATE = festival.iloc[a]['축제종료일자']
    INFO = festival.iloc[a]['축제내용']
    HOST_OR = festival.iloc[a]['주최기관']
    PHONE_NUMBER = festival.iloc[a]['전화번호']
    ADRESS = festival.iloc[a]['주소']
    LATITUDE = int(festival.iloc[a]['위도'])
    HARDNESS = int(festival.iloc[a]['경도'])

    cur.execute(sql_insert,
                (   F_NAME, PLACE, OPEN_DATE, CLOSE_DATE, INFO, HOST_OR,
                    PHONE_NUMBER, ADRESS, LATITUDE, HARDNESS)
                )

    con.commit()
cur.close()
con.close()

<>:6: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:6: SyntaxWarning: "is not" with a literal. Did you mean "!="?
C:\Users\tj-bu\AppData\Local\Temp\ipykernel_5624\1594794353.py:6: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  if type(festival.iloc[a]['경도']) is not 'object':

In [72]:
sql_insert = '''
            insert into festival(F_NAME, PLACE, OPEN_DATE, CLOSE_DATE, INFO, HOST_OR, PHONE_NUMBER, ADRESS, LATITUDE, HARDNESS)
            values(:F_NAME, :PLACE, :OPEN_DATE, :CLOSE_DATE, :INFO, :HOST_OR, :PHONE_NUMBER, :ADRESS,:LATITUDE,:HARDNESS)
            '''

In [74]:
for a in  range(0, len(festival)):
    F_NAME = festival.iloc[a]['축제명']
    PLACE = festival.iloc[a]['개최장소']
    OPEN_DATE = festival.iloc[a]['축제시작일자']
    CLOSE_DATE = festival.iloc[a]['축제종료일자']
    INFO = festival.iloc[a]['축제내용']
    HOST_OR = festival.iloc[a]['주최기관']
    PHONE_NUMBER = festival.iloc[a]['전화번호']
    ADRESS = festival.iloc[a]['주소']
    LATITUDE = festival.iloc[a]['위도']
    HARDNESS = festival.iloc[a]['경도']

    cur.execute(sql_insert,
                (   F_NAME, PLACE, OPEN_DATE, CLOSE_DATE, INFO, HOST_OR,
                    PHONE_NUMBER, ADRESS, LATITUDE, HARDNESS)
                )

con.commit()
cur.close()
con.close()

DatabaseError: DPI-1043: invalid number

# 지도 표시

In [65]:
m = folium.Map(zoom_start=2,
               width=800, 
               height=550)

In [ ]:
for name, place, start, end, memo, call, lat, lng in zip(festival2023['축제명'],festival2023['개최장소'],
                                                        festival2023['축제시작일자'],festival2023['축제종료일자'],
                                                        festival2023['축제내용'],festival2023['전화번호'],
                                                        festival2023['위도'],festival2023['경도']):
#     popup = '축제명'+name+'\t'~~~
    Marker(location=[lat, lng],
           zoom_start=2,
          popup=start,
          tooltip=name,
          icon=folium.Icon(color='blue', icon='star')).add_to(m)
m

### 
* 주소 2개를 하나로 합치고
* 주소의 도(강원도 등)명으로 검색기능 만들기
* 오라클에 csv파일 넣는거(오라클 테이블 만들고)

In [32]:
festival['경도']

3       129.278447
4       127.500730
5       127.989150
6       127.946261
7       126.726980
           ...
1391    129.411263
1392    129.411263
1393    129.411263
1394    129.411263
1396    129.411263
Name: 경도, Length: 1181, dtype: float64

In [33]:
import re

In [42]:
p=re.compile('\d*[.]\d*')

In [65]:
# 네비게이션약식주소 추출 함수
def extract_navigation_address(text):
    match = re.search(p, text)
    if match:
        return match.group()
    else:
        return ''

# '네비게이션약식주소' 열에 동 또는 도로명 주소만 추출하여 채움

In [45]:
re.match(p,'1919')

In [47]:
list = [1,2,3,4,5,1,2,3,4,1,2.23123, 123123.123123]

In [51]:
ax=pd.DataFrame(list)

In [57]:
ax.rename({0:'경도체크'}, axis=1, inplace=True)

In [59]:
ax['체크']=

In [60]:
ax

             경도체크  체크
0        1.000000   0
1        2.000000   0
2        3.000000   0
3        4.000000   0
4        5.000000   0
5        1.000000   0
6        2.000000   0
7        3.000000   0
8        4.000000   0
9        1.000000   0
10       2.231230   0
11  123123.123123   0

In [62]:
ax2=ax.drop([0,1,2,3,4,5,6,7,8,9,10,11], axis=0)

In [67]:
ax2

Empty DataFrame
Columns: [경도체크, 체크]
Index: []

In [69]:
ax2['테스트'] = festival['경도'].apply(str).apply(extract_navigation_address)

# 상위 10개 행 출력
ax2

      경도체크  체크          테스트
3      NaN NaN  129.2784466
4      NaN NaN  127.5007304
5      NaN NaN  127.9891498
6      NaN NaN  127.9462614
7      NaN NaN  126.7269798
...    ...  ..          ...
1391   NaN NaN  129.4112633
1392   NaN NaN  129.4112633
1393   NaN NaN  129.4112633
1394   NaN NaN  129.4112633
1396   NaN NaN  129.4112633

[1181 rows x 3 columns]