In [25]:
import cx_Oracle
import pandas as pd

In [26]:
#192.168.30.208
# conn =cx_Oracle.connect('open_source/1111@192.168.30.208:1521/xe')
conn =cx_Oracle.connect('hr/hr@192.168.30.208:1521/xe')
conn

In [27]:
cur= conn.cursor()

In [28]:
my_sql="""
select * from employees
"""

In [29]:
cur.execute(my_sql)
cur

In [30]:
df= pd.DataFrame(cur)
df

,0,1,2,3,4,5,6,7,8,9,10
0,100,Steven,King,SKING,515.123.4567,2003-06-17,AD_PRES,24000.0,NaN,NaN,90.0
1,101,Neena,Kochhar,NKOCHHAR,515.123.4568,2005-09-21,AD_VP,17000.0,NaN,100.0,90.0
2,102,Lex,De Haan,LDEHAAN,515.123.4569,2001-01-13,AD_VP,17000.0,NaN,100.0,90.0
3,103,Alexander,Hunold,AHUNOLD,590.423.4567,2006-01-03,IT_PROG,9000.0,NaN,102.0,60.0
4,104,Bruce,Ernst,BERNST,590.423.4568,2007-05-21,IT_PROG,6000.0,NaN,103.0,60.0
...,...,...,...,...,...,...,...,...,...,...,...
102,202,Pat,Fay,PFAY,603.123.6666,2005-08-17,MK_REP,6000.0,NaN,201.0,20.0
103,203,Susan,Mavris,SMAVRIS,515.123.7777,2002-06-07,HR_REP,6500.0,NaN,101.0,40.0
104,204,Hermann,Baer,HBAER,515.123.8888,2002-06-07,PR_REP,10000.0,NaN,101.0,70.0
105,205,Shelley,Higgins,SHIGGINS,515.123.8080,2002-06-07,AC_MGR,12008.0,NaN,101.0,110.0
106,206,William,Gietz,WGIETZ,515.123.8181,2002-06-07,AC_ACCOUNT,8300.0,NaN,205.0,110.0

In [31]:
conn =cx_Oracle.connect('open_source/1111@192.168.30.208:1521/xe')
cur= conn.cursor()

In [32]:
my_sql="""
SELECT column_name from cols
where table_name = 'MUSEUM'
"""
cur.execute(my_sql)

column_list = [record[0] for record in cur]
column_list

['시설명',
 '박물관미술관구분',
 '소재지도로명주소',
 '소재지지번주소',
 '위도',
 '경도',
 '운영기관전화번호',
 '운영기관명',
 '운영홈페이지',
 '편의시설정보',
 '평일관람시작시각',
 '평일관람종료시각',
 '공휴일관람시작시각',
 '공휴일관람종료시각',
 '휴관정보',
 '어른관람료',
 '청소년관람료',
 '어린이관람료',
 '관람료기타정보',
 '박물관미술관소개',
 '교통안내정보',
 '관리기관전화번호',
 '관리기관명',
 '데이터기준일자',
 '제공기관코드',
 '제공기관명']

In [33]:
column_list_sorted = sorted(column_list)
column_list_sorted

['경도',
 '공휴일관람시작시각',
 '공휴일관람종료시각',
 '관람료기타정보',
 '관리기관명',
 '관리기관전화번호',
 '교통안내정보',
 '데이터기준일자',
 '박물관미술관구분',
 '박물관미술관소개',
 '소재지도로명주소',
 '소재지지번주소',
 '시설명',
 '어른관람료',
 '어린이관람료',
 '운영기관명',
 '운영기관전화번호',
 '운영홈페이지',
 '위도',
 '제공기관명',
 '제공기관코드',
 '청소년관람료',
 '편의시설정보',
 '평일관람시작시각',
 '평일관람종료시각',
 '휴관정보']

In [34]:
#컬럼명을 분석해 데이터의 중요도에 따라 수동으로 조정 후 데이터프레임의 열을 재구성하는게 바람직
# column_list_sorted2 = ['시설명','어른관람료','어린이관람료','청소년관람료','운영기관명','운영홈페이지','운영기관전화번호',....]

In [35]:
my_sql="""
select * from museum
"""
cur.execute(my_sql)
# df= pd.DataFrame(cur,columns=column_list)
df= pd.DataFrame(cur,columns=column_list_sorted)
df.head()

,경도,공휴일관람시작시각,공휴일관람종료시각,관람료기타정보,관리기관명,관리기관전화번호,교통안내정보,데이터기준일자,박물관미술관구분,박물관미술관소개,...,운영기관전화번호,운영홈페이지,위도,제공기관명,제공기관코드,청소년관람료,편의시설정보,평일관람시작시각,평일관람종료시각,휴관정보
0,합천박물관,공립,경상남도 합천군 쌍책면 황강옥전로 1558,경상남도 합천군 쌍책면 성산리 504,35.580423,128.282942,055-930-4882,합천박물관,https://www.hc.go.kr/museum.web,주차시설+산책로+야외조각전시+인공폭포+분수대,...,0,0,None,"합천박물관은 2004년 12월 9일에 개관하여, 합천 지역의 전통문화와 역사에 대한...",버스: 합천-초계(성태.초계)(합천터미널)에서 쌍책정류장 하차,055-930-4881,경상남도 합천군청,2022-08-29,5480000,경상남도 합천군
1,합천한의학박물관,사립,경상남도 합천군 용주면 고품길 42,경상남도 합천군 용주면 고품리 284,35.537724,128.101221,055-934-0601,합천한의학박물관,https://hckmm.modoo.at/,주차시설+힐링운동장 + 캠핑시설,...,3000,2500,어른(55세이상)+청소년(20~55세)+어린이(11~19세),의학박사 고 임판규 옹에 의해 2013년 8월 개관하였다. 양의학의 단점인 하나의 ...,버스: 합천-거창(평학.대병)(합천터미널)에서 고품삼거리정류장 하차,055-930-4895,경상남도 합천군청,2022-08-29,5480000,경상남도 합천군
2,해인사성보박물관,사립,경상남도 합천군 가야면 가야산로 1742-17,경상남도 합천군 가야면 치인리 산21-1,35.793575,128.094564,055-934-3150,해인사성보박물관,None,주차시설,...,0,0,None,해인사성보박물관은 유네스코 세계문화유산과 세계기록유산으로 등재된 장경판전과 팔만대장...,버스: 합천시외버스터미널에서 해인사행 시외버스 탑승 후 해인사 앞에서 하차,055-930-4895,경상남도 합천군청,2022-08-29,5480000,경상남도 합천군
3,충현박물관,사립,경기도 광명시 오리로347번길 5-5,경기도 광명시 소하동 1085-16,37.433339,126.878386,02-898-0505,충현문화재단,http://www.chunghyeon.org/,None,...,5000,5000,일반 7000원(성인단체+65세이상+장애인+참전용사(단체포함))+광명시민 5000원...,조선시대 청백리 오리이원익 종가박물관,소하2동 행정복지센터+광명동굴길입구 하차 (버스 : 2+3+11-2+12+17+22...,02-898-0505,경기도 광명시 충현문화재단,2022-10-12,3900000,경기도 광명시
4,충현박물관,사립,경기도 광명시 오리로347번길 5-6,경기도 광명시 소하동 1084,37.433927,126.877726,02-898-0505,충현문화재단,http://www.chunghyeon.org/,None,...,5000,5000,일반 7000원(성인단체+65세이상+장애인+참전용사(단체포함))+광명시민 5000원...,조선시대 청백리 오리이원익 종가박물관,소하2동 행정복지센터+광명동굴길입구 하차 (버스 : 2+3+11-2+12+17+22...,02-898-0505,경기도 광명시 충현문화재단,2022-10-12,3900000,경기도 광명시